.mainSkill{
    width: 80%;
    margin: 70px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 90px;
}

.skillHeader{
    color: #949495;
}

.skillCont{
    width: 100%;
    display: flex;
    columns: 2;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 0px 0px;

    
}

.skill{
    width: 38%;
    height: 230px;
    background-color: rgb(38, 38, 40);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skillImg{
  width: 80%;
  padding-bottom: 16px;
}

.skillName{
  padding-bottom: 10px;
}

@keyframes appear {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .skillCont {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

@media (max-width: 1260px) {
    .mainSkill{
        width: 100vw;
        padding: 0px 20px;
    }
    .skillHeader{
      margin-bottom: 60px;
    }
    .skillCont{
        width: 80%;
        gap: 20px;
        max-width: 500px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skill{
        width: 100%;
        height: 180px;
    }
    .skillImg{
        width: 60%;
    }
    .skillName{
        font-size: 18px;
    }
  
}